@import "./responsive/variables.scss";
@import "./responsive/mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

body {
	margin: 0;
	font-family: "Rubik", sans-serif;
	background: #0e1323;
}

$Blue: hsl(246, 80%, 60%);
$Light_orange: hsl(15, 100%, 70%);
$Soft_blue: hsl(195, 74%, 62%);
$Light_red: hsl(348, 100%, 68%);
$Lime_green: hsl(145, 58%, 55%);
$Violet: hsl(264, 64%, 52%);
$Soft_orange: hsl(43, 84%, 65%);

$Very_dark_blue: hsl(226, 43%, 10%);
$Dark_blue: hsl(235, 46%, 20%);
$Desaturated_blue: hsl(235, 45%, 61%);
$Pale_Blue: hsl(236, 100%, 87%);

.menu {
	margin-top: 253px;
	display: flex;
	justify-content: center;

	@include mobile {
		margin-top: 81px;
		flex-direction: column;
		align-items: center;
	}

	.big-card {
		width: 255px;
		height: 518px;
		background: $Dark_blue;
		border-radius: 15px;

		@include mobile {
			width: 90%;
			height: 203px;
		}

		.top {
			position: relative;
			background: $Blue;
			width: 100%;
			height: 354px;
			top: 0;
			left: 0;
			border-radius: 15px;

			@include mobile {
				height: 133px;
				display: flex;
			}

			.avatar {
				margin-left: 32px;
				margin-top: 37px;
				width: 78px;
				border-radius: 50%;
				border: 3px solid white;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

				@include mobile {
					margin-top: 35px;
					width: 64px;
					height: 64px;
				}
			}

			.info {
				@include mobile {
					margin-top: 10px;
					display: flex;
					flex-direction: column;
				}

				.sub-text {
					margin: 0;
					margin-top: 43px;
					margin-left: 32px;
					color: $Pale_Blue;
					font-size: 15px;

					@include mobile {
						margin-top: 35px;
					}
				}

				.name {
					font-weight: 300;
					color: white;
					margin: 0;
					width: 138px;
					height: 95px;
					font-size: 40px;
					margin-top: 3px;
					margin-left: 32px;

					@include mobile {
						width: 171px;
						font-size: 24px;
					}
				}
			}
		}

		.bottom {
			margin-top: 26px;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				margin-left: 32px;

				@include mobile {
					display: flex;
					justify-content: center;
				}

				li {
					cursor: pointer;
					color: $Desaturated_blue;

					&:hover {
						color: white;
					}

					@include mobile {
						width: 109px;
						height: 21px;
						font-size: 18px;
					}
				}

				li:not(:last-child) {
					margin-bottom: 21px;
				}

				.active {
					color: white;
				}
			}
		}
	}

	.card-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-left: 30px;
		grid-gap: 30px 30px;

		@include mobile {
			margin-top: 24px;
			margin-left: 0;
			grid-template-columns: repeat(1, 1fr);
			justify-items: center;
			width: 100%;
		}

		.card {
			width: 255px;
			height: 160px;
			border-radius: 15px;
			position: relative;

			@include mobile {
				width: 90%;
				height: 160px;
			}

			.top {
				position: absolute;
				width: 100%;
				overflow: hidden;

				img {
					position: relative;
					width: 78px;
					right: -159px;
					top: -14px;

					@include mobile {
						right: -69%;
					}
				}
			}

			.bottom {
				top: 45px;
				position: absolute;
				width: 100%;
				height: 199px;
				background: $Dark_blue;
				border-radius: 15px;
				color: white;

				@include mobile {
					width: 100%;
					height: 122px;
				}

				&:hover {
					background: #33397a;
				}

				.flex-info {
					padding-left: 30px;
					padding-right: 35px;
					margin-top: 29px;
					display: flex;
					align-items: center;
					justify-content: space-between;

					.name {
						font-size: 18px;
					}

					svg {
						cursor: pointer;

						&:hover > .ellipsis {
							fill: white;
						}
					}

					.ellipsis {
						fill: #bbc0ff;
					}
				}

				.flex-work {
					display: flex;
					flex-direction: column;
					margin-left: 30px;

					@include mobile {
						flex-direction: row;
						padding-left: 24px;
						padding-right: 24px;
						justify-content: space-between;
						margin-left: 0;
						margin-top: 6px;
					}

					.hours {
						color: white;
						margin-top: 24px;
						font-size: 56px;
						font-weight: 300;

						@include mobile {
							margin-top: 0;
							font-size: 32px;
						}
					}

					.time {
						color: $Pale_Blue;
						font-size: 15px;
						margin-top: 8px;
					}
				}
			}
		}

		.work {
			background: $Light_orange;
		}

		.play {
			background: $Soft_blue;
		}

		.study {
			background: $Light_red;
		}

		.exercise {
			background: $Lime_green;
		}

		.social {
			background: $Violet;
		}

		.self-care {
			background: $Soft_orange;
		}
	}
}
